<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="10" configfailurepolicy="skip" parallel="tests" thread-count="2">

    <test name="Complete test run">
        <classes>
            <class name="RunCucumberTest" />
        </classes>
    </test>

</suite>